.center.hero-unit
  %h1 Bienvenue sur AGC-DRI
  %h2 Ceci est la page d'accueil de l'application. Veuillez vous enregistrer pour commencer à utiliser l'application.
  = link_to "Ouvrir un compte", "#", class: "btn btn-large btn-primary"
